.mainDetail {
    width: 100vw;
    height: 100%;
    padding: 170px;
    background-color: var(--off-white);
    display: flex;
    align-items: center;
    justify-content: center;
}
.backBtn
{
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 16px;
    background-color: var(--main-red);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 6px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.backBtn:hover{
    background-color: white;
    color: var(--main-red);
    border: 2px solid var(--main-red);
}
.drink-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    width: 800px;
    height: 50vh;
    max-width: 95vw;
    overflow: hidden;
    color: var(--text-dark);
}

.left-panel {
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.left-panel img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

.right-panel {
    position: relative;
  padding: 32px;
  display: flex;
  flex-direction: column;   
  gap: 16px;
}